
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.input-page-MiA {
  width: 100%;
  height: 76.8rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.input-page-MiA .subcrition-page-1-wwG {
  width: 100%;
  height: 73.6rem;
  display: flex;
  flex-direction: column;
}

.text
{
    width: 108%;
    position: relative;
    top: -19px;
    left: -6px;
    font-size: medium;
    background-color: #eeebeb;
  
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 {
  margin-bottom: 3rem;
  width: 100%;
  height: 9.6rem;
  position: relative;
  flex-shrink: 0;
  
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .header-bar-7WJ {
  width: 136.6rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .user-circle-1-Xa2 {
  width: 2.5833rem;
  height: 2.5834rem;
  position: absolute;
  left: 123.6583rem;
  top: 3.5583rem;
  object-fit: contain;
  vertical-align: top;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .search-alt-2-1-bpn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 102.8rem;
  top: 4.6rem;
  overflow: hidden;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .modern-elegant-photography-tree-circle-logo-2-HxW {
  width: 9.6rem;
  height: 9.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .shopping-bag-1-WqG {
  width: 2.1rem;
  height: 2.2rem;
  position: absolute;
  left: 113.1rem;
  top: 5rem;
  overflow: hidden;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .shopping-bag-2-p5G {
  width: 2.1rem;
  height: 2.2rem;
  position: absolute;
  left: 114.7rem;
  top: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .search-box-vPC {
  box-sizing: border-box;
  padding: 1.1rem 2.868rem 1.017rem 2rem;
  width: 22.5rem;
  height: 4.5rem;
  position: absolute;
  left: 85.5rem;
  top: 2.4rem;
  display: flex;
  align-items: center;
  background-color: #eeebeb;
  border-radius: 2.7rem;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .search-box-vPC .search-UZ8 {
  margin: 0rem 9.95rem 0.183rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-dv42-Uy8 .search-box-vPC .vector-Xxe {
  width: 2.3825rem;
  height: 2.3828rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-eh6i-zrE {
  margin-left: 3.4rem;
  width: 116rem;
  height: 61rem;
  position: relative;
  flex-shrink: 0;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-eh6i-zrE .upload-questions-6PU {
  width: 31.4rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-eh6i-zrE .username-LHp {
  box-sizing: border-box;
  padding: 1.1rem 2.1rem 1.3rem 2.1rem;
  width: 116rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 14.3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #6f6969;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #eeebeb;
  border-radius: 0.6rem;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-eh6i-zrE .username-8Dg {
  box-sizing: border-box;
  padding: 1.1rem 2.1rem 1.3rem 2.1rem;
  width: 22rem;
  height: 3.1rem;
  position: absolute;
  left: 298px;
  top: 237px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #6f6969;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #eeebeb;
  border-radius: 0.6rem;
}
.text1{
    width: 108%;
    position: relative;
    top: -19px;
    left: -6px;
    font-size: medium;
    background-color: #eeebeb;
}
.box1 {
    box-sizing: border-box;
    padding: 1.1rem 2.1rem 1.3rem 2.1rem;
    width: 22rem;
    height: 3.1rem;
    position: absolute;
    left: 298px;
    top: 297px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #6f6969;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #000000;
    background-color: #eeebeb;
    border-radius: 0.6rem;
}
.text2{
    width: 108%;
    position: relative;
    top: -19px;
    left: -6px;
    font-size: medium;
    background-color: #eeebeb;
}
.box2{
    box-sizing: border-box;
    padding: 1.1rem 2.1rem 1.3rem 2.1rem;
    width: 22rem;
    height: 3.1rem;
    position: absolute;
    left: 298px;
    top: 356px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #6f6969;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #000000;
    background-color: #eeebeb;
    border-radius: 0.6rem;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-eh6i-zrE .rectangle-6-6pi {
  width: 19.7rem;
  height: 4.4rem;
  position: absolute;
  left: 19.1rem;
  top: 29.4rem;
  background-color: #7b79f8;
}
.input-page-MiA .subcrition-page-1-wwG .auto-group-eh6i-zrE .upload-xc2 {
  width: 7rem;
  height: 2.5rem;
  position: absolute;
  left: 8.8rem;
  top: 38.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.dropdown {
  position: relative;
  display: inline-block;
  position: relative;
  left: 32rem;
    top: 11.2rem;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    position: relative;
    left: 15.4rem;
    top: 17.6rem;
  }


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 22px;
  min-width: 228px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.new{
  width: 31.4rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 10.9rem;
    font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.new1{
  width: 31.4rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 16.9rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.abc{
  width: 136.6377rem;
  height: 68.2572rem;
  position: absolute;
  left: -0.7549rem;
  top: 8.6713rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('card-bg1.jpg');
}
